<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Product</h1>
    <a href="/products">Back to all products</a>

    <form action="/products/<%= id %>?_method=PUT" method="POST">
        <input type="text" placeholder="Product Name" name="name" value="<%= product.name %>">
        <input type="number" name="price" value="<%= product.price %>">Price
        <textarea name="description" placeholder="Product Description"><%= product.description %></textarea>
        <input type="text" name="image" value="<%= product.image %>">Product Image
        <input type="submit">
    </form>
</body>
</html>